# Port
PORT=3000
HTTP_PORT=3001

# Environment variable
DEBUG_MODULE=izi

# Environment
NODE_ENV=development

## JWT
JWT_SECRET=secretkey 
REFRESH_TOKEN_SECRET=secretkey 

# Email
EMAIL_USER=yourEmail
EMAIL_PASSWORD=yourPassword

# Server url
SERVER_URL=yourServer

# Cookie domain
CORS_ORIGIN=your-client-url

# Email
EMAIL_USER=your-user-email
EMAIL_PASSWORD=your-email-password

# Database
PGHOST=localhost
PGPORT=5432
PGDATABASE=izi
PGUSER=<dbuser>
PGPASSWORD=<dbpass>

## token api.siren
SIREN_API_TOKEN=your_token
SIREN_API_URL=https://api.insee.fr/entreprises/sirene/V3.11/siret/